<div class="container">
    <div class="row">
        <h2>Gray Rabbit 10</h2>
        <map-component search-service="vm.searchService"></map-component>
    </div>
    <div class="row">
        <div class="one-half column" ng-show="vm.points[0]">
            <h4>Point #1</h4>
            <div><strong>Title:</strong> {{vm.points[0].layer.feature.geometry.properties.title}}</div>
            <div><strong>Latitude:</strong> {{vm.points[0].lat}}</div>
            <div><strong>Longitude:</strong> {{vm.points[0].lon}}</div>
        </div>
        <div class="one-half column" ng-show="vm.points[1]">
            <h4>Point #2</h4>
            <div><strong>Title:</strong> {{vm.points[1].layer.feature.geometry.properties.title}}</div>
            <div><strong>Latitude:</strong> {{vm.points[1].lat}}</div>
            <div><strong>Longitude:</strong> {{vm.points[1].lon}}</div>
        </div>
    </div>
    <div class="row">
        <button ng-click="vm.clear()" ng-if="vm.points.length">Clear</button>
        <button class="button-primary" ng-click="vm.getPoints()" ng-if="vm.points.length == 2">Calculate Route</button>
    </div>
</div>
