<div id="map" style="width: 100%; height: 400px;"></div>
<div class="row">
    <div class="one-half column">
        &nbsp; <!--Dirty hack for styles-->
        <div ng-show="mpvm.searchService.points.length === 0">
            <select ng-options="point as point.title for point in mpvm.markers"
                class="u-full-width" ng-model="mpvm.selectedPoint1" ng-change="mpvm.selectPoint(mpvm.selectedPoint1)">
            </select>
        </div>
    </div>
    <div class="one-half column">
        &nbsp;
        <div ng-show="mpvm.searchService.points.length === 1">
            <select ng-options="point as point.title for point in mpvm.markers"
                class="u-full-width" ng-model="mpvm.selectedPoint2" ng-change="mpvm.selectPoint(mpvm.selectedPoint2)">
            </select>
        </div>
    </div>
</div>
            